<style>
    @import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300&display=swap');
</style>

<app-navigation></app-navigation>

<div class="container app">
  <div class="row">
      <div class="col-sm-8">
        <h1>USERS</h1>
        <div class="search-container">
          <input class="input-search" type="text" [(ngModel)]="searchTerm" (input)="search()" placeholder="Search...">
        </div>
        <table #content class="table table-hover">
          <thead>
            <tr>
              <th>
                <span class="column-text">Name</span>
                <span (click)="sortColumn('name')" class="sort-icon" [class]="sortConfig.direction === 'asc' ? 'arrow-up' : 'arrow-down'"></span>
              </th>
              <th>
                <span class="column-text">Surname</span>
                <span (click)="sortColumn('surname')" class="sort-icon" [class]="sortConfig.direction === 'asc' ? 'arrow-up' : 'arrow-down'"></span>
              </th>
              <th>
                <span class="column-text">Email</span>
                <span (click)="sortColumn('email')" class="sort-icon" [class]="sortConfig.direction === 'asc' ? 'arrow-up' : 'arrow-down'"></span>
              </th>
              <th>
                <span class="column-text">DNI</span>
                <span (click)="sortColumn('id')" class="sort-icon" [class]="sortConfig.direction === 'asc' ? 'arrow-up' : 'arrow-down'"></span>
              </th>
              <th>
                <button class="btn-add" (click)="addUser()">+</button>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let user of users; let i = index" (click)="userProfile(user)">
              <td>{{user.name}}</td>
              <td>{{user.surname}}</td>
              <td>{{user.email}}</td>
              <td>{{user.id}}</td>
              <td>
                <button (click)="alertDeleteUser($event, user)" class="btn-danger">Delete</button>
              </td>
            </tr>              
          </tbody>
          <tfoot>
            <tr>
              <td colspan="13">
                <div class="pagination">
                  <button class="paginate-btn" [disabled]="currentPage === 1" (click)="prevPage()"><</button>
                  <span>{{ currentPage }}/{{ totalPages }}</span>
                  <button class="paginate-btn" [disabled]="currentPage === totalPages" (click)="nextPage()">></button>
                </div>
              </td>
            </tr>
          </tfoot>
        </table>
      </div>
  </div>
</div>


