<style>
    @import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300&display=swap');
</style>
<ul>
    <li>
        <a routerLink="/" routerLinkActive="active">List Users From File</a>
    </li>

    <li>
        <a (click)="triggerExcelDownload()" routerLinkActive="active">Download Excel</a>
    </li>

    <li>
        <a (click)="triggerPdfDownload()" routerLinkActive="active">Download PDF</a>
    </li>

    <li>
        <a routerLink="/listUsersAPI" routerLinkActive="active">List Users From APIREST</a>
    </li>
</ul>
